table,tr,th{
    border: 1px solid;

    position:sticky;
    top:10px;
    z-index:-1;
    
    background-color: #d1d1e0;
  }

.stickytable{
    position:sticky;
    top:100px;
    z-index:100;
}

h1{
    color: #6600cc;
}

body{
    background-color: #9494b8;
}

nav{
    background-color: #666699;
    border-width: 10px;
    border: black;

    position: fixed;
}

.row{
    display: flex;
    margin-top: 100px;
}

.column{
    flex: 50%;
    padding: 50px;
}

h3{
    color: #6600cc;
}

